@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Gabriel Bezerra<br />
    Recife-PE<br />
    <abbr title="Phone">P:</abbr>
    (81)9 9865-9979
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">gabrieleliasmega@gmail.com</a><br />
    
</address>
